/bookery/src/main/webapp/VAADIN/themes/mytheme/styles.css
/bookery/src/main/webapp/VAADIN/themes/mytheme/styles.scss.cache
/bookery/src/main/webapp/WEB-INF/glassfish-web.xml
/bookery/target/
/bookery/src/main/webapp/WEB-INF/jboss-web.xml
/bookery/nb-configuration.xml
/bookery/src/main/resources/rebel.xml
/bookery-widget/target/
/bookery-metadata/target/