/bookery/src/main/webapp/VAADIN/themes/mytheme/styles.css
/bookery/src/main/webapp/VAADIN/themes/mytheme/styles.scss.cache
/bookery/src/main/webapp/WEB-INF/glassfish-web.xml
/bookery/target/
/bookery/src/main/webapp/WEB-INF/jboss-web.xml
/bookery/nb-configuration.xml
/bookery/src/main/resources/rebel.xml
/bookery-widget/target/
/bookery-metadata/target/
/bookery/pom.xml.releaseBackup
/pom.xml.releaseBackup
/release.properties
/bookery-metadata/pom.xml.releaseBackup
/bookery-widget/pom.xml.releaseBackup
/target/
/book-importer/target/
/bookery/src/main/webapp/VAADIN/themes/bluebooks/styles.css
/bookery/nb_jr_remoting.cfg