
$v-app-loading-text: "Metro Valo";

$v-font-family: "Source Sans Pro", sans-serif;
$v-app-background-color: #fff;
$v-background-color: #eee;
$v-focus-color: #0072C6;
$v-focus-style: 0 0 0 1px $v-focus-color;
$valo-menu-background-color: darken($v-focus-color, 10%);
$v-border: 0 solid v-shade;
$v-border-radius: 0px;
$v-bevel: false;
$v-gradient: false;
$v-shadow: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-textfield-border: 1px solid v-shade;
$v-link-text-decoration: none;
$v-overlay-shadow: 0 0 0 2px #000;
$v-overlay-border-width: 2px; // For IE8
$v-window-shadow: $v-overlay-shadow;
$v-selection-overlay-background-color: #fff;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-panel-border: 2px solid v-shade;

$bookery-panel-background: rgba(35,47,62,0.85) !default;
$bookery-panel-text-color: valo-font-color($v-selection-color, 0.9) !default;
$login-info-width: 300px !default;

@import "../valo/valo.scss";


@mixin bluebooks {
    @include valo;
    
    .bookery-header {
        color: $bookery-panel-text-color;
        background-color: $bookery-panel-background;
        @include valo-animate-in-fade($duration: 1s);
    }
    
    .bookery-detail {
        @include valo-panel-style;
        border: none;
        padding: 8px;
        color: $bookery-panel-text-color;
        background-color: $bookery-panel-background;
        .book-cover {
            width: 130px;
            height: 200px;
        }
        .v-label-h3 {
           color: $bookery-panel-text-color; 
        }
        .bookery-italic {
            font-style:italic;
        }
    }
    
    .pointer-cursor {
        cursor: pointer;
        &:hover {
            border-color: #BF8E45;
            border-width: 1px;
        }
    }
    
    .login-screen {
        background: $editor-background-color;

        @if $login-background-image {
            background-image: url(#{$login-background-image});
        background-size: cover;
        background-position: 50% 50%;
    }

    width: 100%;
    height: 100%;

    .login-form {
        @include valo-panel-style;
        border: none;
        padding: $v-layout-margin;
        background-color: $bookery-panel-background;
        color: $bookery-panel-text-color;
        @include valo-animate-in-fade($duration: 1s);
    }

    .login-information {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: $login-info-width;
        height: 100%;
        background: $v-selection-color; // For IE8
        background-color: $bookery-panel-background;
        padding: $v-layout-margin;
        //color: #fff;
        color: $bookery-panel-text-color;
        @include animation(valo-animate-in-fade 1s 1s backwards);

        h1 {
            color: inherit;
        }
    }
    .centering-layout {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding-left: $login-info-width;

        .v-slot {
            height: 100%;
        }
    }
}

.v-ui[width-range~="0-800px"] {
    .login-screen {
        height: auto;
        min-height: 100%;

        .login-information {
            position: static;
            width: 100%;
            height: auto;

            .v-label {
                text-align: center;

                h1 {
                    margin-top: .4em;
                }
            }
        }

        .centering-layout {
            display: block;
            width: 100%;
            height: auto;
            padding-left: 0;
            padding-top: 60px;
            padding-bottom: 60px;
        }

        .login-form {
            width: 400px;
            max-width: 100%;

            table {
                width: 100%;
            }

            .v-textfield {
                width: 100% !important;
            }

            .v-formlayout-captioncell,
            .v-formlayout-contentcell,
            .v-formlayout-errorcell {
                display: block;
                text-align: center;
                padding-top: 0;
            }
            .buttons {
                width: 100%;
                .v-button {
                    display: block;
                    text-align: center;
                }
            }
        }
    }

}



}
